/* ---- Box-modell för enklare layout ---- */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}


body {
    font-family: "Roboto", "Open Sans", Arial,;
    width: 80%;             /* eller 960px */
    margin: 20px auto;
    background-color: #70a2ff;
    padding: 20px 40px;
    color: #ffffff;
}


h1 {
    font-size: 48px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

h2 {
    color: #44428f;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
    margin-top: 40px;
}


p {
    line-height: 1.6;
}

.namn-markering {
    color: #ffffff;
    font-weight: bold;
}


ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    list-style-type: none;
    margin: 8px 0;
    padding-left: 0px;
    position: relative;
}


ul li::before {
    content: "•";
    color: #1c5fdd;
    font-size: 20px;
    position: absolute;
    left: -10px;
    top: -2px;
}


.projekt-item {
    border: 1px solid #ffffff;
    padding: 8px 12px;
    border-radius: 5px;
}


a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}


img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}
